* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

body {
    background-color: rgb(223, 223, 223);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
}

form {
    margin: 20px 0;
    background-color: red;
    padding: 30px;
}

.textfield {
    margin-bottom: 15px;
    display: grid;
}
